[submodule "studio/engines/omlx"]
	path = studio/engines/omlx
	url = https://github.com/beaglemoo/omlx.git
	branch = chore/merge-upstream-0.7.1.dev1
[submodule "studio/engines/comfyui"]
	path = studio/engines/comfyui
	url = https://github.com/Comfy-Org/ComfyUI.git
	branch = master
	shallow = true
